<div class='page-header'>
  <div class='container'>
    <h1><%= @animal.name %></h1>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-4'>

      <div class='panel panel-default'>

        <div class='panel-heading'>
          <h4>General Information</h4>
        </div>

        <div class='panel-body table-responsive'>
          <table class='table table-default'>

            <tbody>

              <tr>
                <th>Class</th>
                <td><%= @animal.classification %></td>
              </tr>
            
              <tr>
                <th>No. of Legs</th>
                <td><%= @animal.legs %></td>
              </tr>
            
            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <div class='panel panel-default'>

        <div class='panel-heading'>
          <h4>Which Cabinets to find me</h4>
        </div>

        <div class='panel-body table-responsive'>
          <ul>
            <%- @animal.cabinets.each do |cabinet| %>
              <li><%= cabinet.name %></li>
            <%- end %>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>
